# Network Template
NAME    = "{{ item.name }}"
DESCRIPTION = "{{ item.description }}"
VN_MAD  = "{{ item.vn_mad }}"
PHYDEV  = "{{ item.phydev }}"
VLAN_ID = "{{ item.vlan_id }}"       # optional
BRIDGE  = "{{ item.bridge }}"        # optional
MTU     = "{{ item.mtu }}"


# Context attributes
NETWORK_ADDRESS = "{{ item.address }}"
NETWORK_MASK    = "{{ item.mask }}"
DNS             = "{{ item.dns }}"
GATEWAY         = "{{ item.gateway }}"


# Adress ranges
{% for net in item.ranges %}
AR = [ TYPE="{{net.type}}", IP="{{net.ip}}", SIZE="{{net.size}}" ]   
{% endfor %}



